<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Gerador de senhas</h1>
      <div>
        <h3>{{error}}</h3>
      </div>
      <div class="field">
        <label class="label">Tamanho da senha:</label>
        <div class="control">
          <input class="input" value={{lenght}} (input)="onChangeLenght($event.target.value)"/>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
          <input (change)="onChangeLetters()" type="checkbox">
          Usar letras
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
          <input (change)="onChangeSymbols()" type="checkbox">
          Usar Simbolos
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
          <input (change)="onChangeNumbers()" type="checkbox">
          Usar Numeros
          </label>
        </div>
      </div>
      <div class="field">
        <button class="button is-primary input" [disabled]="!lenght || !(letters || numbers || symbols)" (click)="onButtonClick()">Generate</button>
      </div>
      <div class="box" *ngIf="password">
        <div class="field">
          <label class="label">Senha Gerada</label>
          <input class="input" [value]="password"/>
        </div>
      </div>
    </div>
  </div>
</div>